#about{
	position:absolute;
	top:50px;
}
.canvas{
	top:-30px;
    width: 1280px;
    height: 720px;
    border: 1px solid black;
}
.image{
	border:2px solid;
	border-radius:100px;
	position:absolute;
}

#logo{
	z-index:1000;
	border-radius: 100px;
	border:1px solid black;
	position: absolute;
	left:5px;
	height:50px; 
	width:50px;
}
.navbar {
	z-index:1;
}

#characters_select{
	position: relative;
	top:90px;
	left:150px;
	width: 1100px;
	height: 50px;
}

#episodes_select{
	position: relative;
	top:150px;
	left:150px;
	width: 1100px;
	height: 50px;
}

.left{
	position:relative;
	float:left;
	width:30px;
	height:30px;
}

.right{
	position:relative;
	float:right;
	width:30px;
	height:30px;
}

.button{
	width: 1040px;
	height: 50px;
}

#svg_episode{
	width: 1000px;
	height: 300px;
}
.episode_group{
	position:relative;
	right:50px;
	width: 20px;
}
.episode_text{
	position:relative;
	float:left;
	font-size:9px;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}