#logo{
	z-index:1000;
	border-radius: 100px;
	border:1px solid black;
	position: absolute;
	left:5px;
	height:50px; 
	width:50px;
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}
 
.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}
 
.link {
  fill: none;
  stroke: red;
  /*stroke-opacity: .5;*/
}
 
.link:hover {
  stroke-opacity: .5;
}